$primary-color: #F6C;
$text-color: #2E2D33;
$accent-color: #626262;
$happy-yellow: #FFE51F;
$happy-blue: #000;
$link-color: $accent-color;
$selection-color: #FFF498;
$happy-blue: #42c9ff;
$icon-bg-color: #FFE51F;
