<section id="about-me">

  <h2>About Me</h2>

  <div class="face-lockup">

    <div class="face-img" style="background-image: url(/assets/img/{{site.avatar}});"></div>
    <div class="icon-crosshair">{% include icons/icon-crosshair.html %}<b>Software Development</b></div>
    <div class="icon-responsive">{% include icons/icon-responsive.html %}<b>Responsive Design</b></div>
    <div class="icon-world">{% include icons/icon-world.html %}<b>Russian/English Translation</b></div>
    <div class="icon-search">{% include icons/icon-search.html %}<b style='margin-left: 35px'>SEO</b></div>

  </div>

  <div class="blurb">
    <p>{{site.blurb}}</p>
  </div>

  <div class="skill-lockup">

  {% for skill in site.data.skills %}
    <div class="skill-unit">
      <div class="skill-label">{{ skill.name }}</div>
        <div class="skill-icons skill-{{ skill.level }}">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>
  {% endfor %}

  </div>


</section>
