<section class="client-section">

  <h2 class="section-heading" id="clients">Clients</h3>

  <div class="client-controls">
    <div class="client-control-next">{% include icons/icon-next.html %}</div>
    <div class="client-control-prev">{% include icons/icon-prev.html %}</div>
  </div>

  <div class="clients-belt">

    {% for client in site.data.settings.clients %}
    <div class="client-unit">

      <div class="client-photo">
        <img src="/assets/img/clients/{{ client.photo }}" alt="client-photo">
        <strong class="client-name">{{ client.name }}</strong>
        <em class="client-title">{{ client.tittle }}</em>
      </div>

      <div class="client-text">
        <div class="client-quotemark">{% include icons/icon-quotemark.html %}</div>
        {{ client.quote }}
      </div>

    </div>
    {% endfor %}

  </div>

  <div class="clients-logos">
    {% for client in site.data.settings.clients %}
    <img class="client-logo" src="assets/img/clients/{{ client.logo }}" align="{{ client.logo }}">
    {% endfor %}
  </div>

</section>
