<section class="client-section">

  <h2 class="section-heading" id="clients">Clients</h3>

  <div class="client-controls">
    <div class="client-control-next">{% include icons/icon-next.html %}</div>
    <div class="client-control-prev">{% include icons/icon-prev.html %}</div>
  </div>

  <div class="clients-belt">

    <div class="client-unit">

      <div class="client-photo">
        <img src="/assets/img/clients/client-1.jpg" alt="client-photo">
        <strong class="client-name">Shang Tsung</strong>
        <em class="client-title">Director of Design, Liu Kang Industries</em>
      </div>

      <div class="client-text">
        <div class="client-quotemark">{% include icons/icon-quotemark.html %}</div>
        <p><strong>Phasellus vitae mollis nisi.</strong> Ut sodales malesuada aliquet. Vestibulum faucibus sollicitudin turpis a sollicitudin.
        Vestibulum faucibus sollicitudin turpis a sollicitudin. Duis fermentum erat viverra, aliquet dolor quis, pulvinar arcu.</p>
      </div>

    </div>

  </div>

  <div class="clients-logos">
    <div class="client-logo active-client"></div>
    <div class="client-logo"></div>
    <div class="client-logo"></div>
    <div class="client-logo"></div>
  </div>

</section>
