<section class="client-section">

  <h2 class="about-heading" id="clients">Clients</h3>

  <div class="client-controls">
    <div class="client-control-next"></div>
    <div class="client-control-prev"></div>
  </div>

  <div class="clients-belt">

    <div class="client-unit">

      <div class="client-photo">
        <img src="/assets/img/clients/client-1.jpg" alt="client-photo">
        <strong class="client-name">Shang Tsung</strong>
        <em class="client-title">Director of Design, Liu Kang Industries</em>
      </div>

      <div class="client-text">
        <p>Phasellus vitae mollis nisi. Ut sodales malesuada aliquet. Vestibulum faucibus sollicitudin turpis a sollicitudin.
        Vestibulum faucibus sollicitudin turpis a sollicitudin. Duis fermentum erat viverra, aliquet dolor quis, pulvinar arcu.</p>
      </div>

    </div>

  </div>

  <div class="clients-logo">
    <div class="client-logo active-client">
    <div class="client-logo">
    <div class="client-logo">
    <div class="client-logo">
  </div>

</section>
