.section-contact {
  text-align: center;
  background: #fff;
}

.contact-heading {
  @extend .section-heading;
  color: #fff;
}

.social-links {
  max-width: 700px;
  margin: 0 auto 50px;
  @include display(flex);
  @include justify-content(space-around);
  @include flex-wrap(wrap);

  a {
    display: block;
    border-radius:50%;
    @include size(50px);
    line-height: 50px;
    color: #000;
    font-size: 32px;

    &:hover {
      @include transform(scale(1.2));
    }
  }
}

.bar {
  height: 0px;
  width: 50%;
  border-top: 4px solid #000;
  margin: 0 auto 70px;
}

.email {
  display: inline-block;
  font-size: 48px;
  font-weight: 300;
  color: #000;
  @media (max-width: 550px) { font-size: 32px; }
  margin-bottom: 50px;

  &:hover {
    @include transform(scale(1.1));
    color: #000;
  }
}
