footer {
  background: #42c9ff;
  flex: 1; // flexbox to make a sticky footer
  height: 1px;

  .lockup {
    padding: 50px 30px;
    @include clearfix;


    .logo {
      @include size(50px);
      float: left;
      margin-right: 30px;
    }

    .content-wrap {
      float: left;
    }

    .copyright {
      text-transform:uppercase;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.7);
    }

    a {
      @extend %small-bold;
      color:rgba(255, 255, 255, 0.7);
      display: inline-block;
      margin-right: 20px;

      &:hover {
        color: rgb(255, 255, 255);
      }
    }
  }
}
