header {

 height: 450px;
 background: $bottomless-black;

   .logo {
     @include size(50px);
     background: $bottomless-black;
     float: left;
     padding: 10px;
   }

   nav {
     float:right;
     margin: 30px 30px 0 0;
    a {
      display: inline-block;
      margin-left: 20px;
      color: rgba(255, 255, 255, 0.7);
      @extend %small-bold;
      &:hover {
        color: rgb(255, 255, 255);
      }
    }
   }

   h1 {
     text-align: center;
     font: {
       size:72px;
       weight:700;
     }
     color:white;
     text-transform: uppercase;
     letter-spacing: 0.05em;
     margin-bottom: 15px;
     clear: both; //clearfix
     span {
       display:inline-block;
       padding: 0.2em 0.5em;
       border: white solid 6px;
       margin-top: 100px;
     }
   }

   .kicker {
     text-align: center;
     letter-spacing: 0.3em;
     @extend %small-bold;
     color: white;
   }
   .glitch{
     @extend h1;
     position:relative;
     margin:0 auto;
   }
   @include keyframes (noise-anim) {
     $steps:20;
     @for $i from 0 through $steps{
       #{percentage($i*(1/$steps))}{
         clip:rect(random(100)+px,9999px,random(100)+px,0);
       }
     }
   }
   .glitch:after {
     content:attr(glitch-text);
     position:absolute;
     left:2px;
     text-shadow:-1px 0 white;
     top:0;
     color:white;
     background:$bottomless-black;
     overflow:hidden;
     clip:rect(0,900px,0,0);
     @include animation(noise-anim 3s infinite linear alternate-reverse);
   }

   @include keyframes (noise-anim-2){
     $steps:20;
     @for $i from 0 through $steps{
       #{percentage($i*(1/$steps))}{
         clip:rect(random(100)+px,9999px,random(100)+px,0);
       }
     }
   }
   .glitch:before {
     content:attr(data-text);
     position:absolute;
     left:-2px;
     text-shadow:1px 0 blue;
     top:0;
     color:white;
     background:$bottomless-black;
     overflow:hidden;
     clip:rect(0,900px,0,0);
     @include animation(noise-anim-2 4s infinite linear alternate-reverse);
   }
 }
