.proj-description {
  color: #fff;
  font-size: 16px;
}

.alt-section {
  background: $bottomless-black;
}

.projects-slider {
  width:200%;
  position: relative;
  left: 0%;
  @include transition(all 800ms);
}

.thumb-wrap, .projects-wrap {
  width: 50%;
  float:left;
}

.section-projects {
  overflow-x: hidden;
}

.projects-heading {
  @extend .about-heading;
  color: $happy-yellow;
}

.thumb-container {
  max-width: 960px;
  margin: 0px auto;
  padding-bottom: 100px;
  @include clearfix;

  .thumb-unit {
    display: block;
    float: left;
    width: 25%;
    position: relative;
    padding-top: 20%;
    overflow: hidden;
    cursor: pointer;
    background:{
      color: white;
      image: url(/assets/img/projects/proj-1/thumb.jpg);
      position: center center;
      repeat: no-repeat;
      size: cover;
      @include perspective(300);
    }
    @media screen and (max-width: 760px) {
      width: 50%;
      padding-top: 26%;
    }

    .thumb-overlay {
      height: 100%;
      @include position(absolute, 0% 0px null 0px);
      background: fade-out($happy-yellow, 0.1);
      @include transition(1200ms);
      @include display(flex);
      @include align-items(center);
      @include justify-content(space-around);
      @include transform(rotateX(90deg));
      @include transform-origin(center bottom);
      opacity: 0;

      text-align: center;
        strong {
          display: block;
          color: $bottomless-black;
          font-weight:300;
          font-size: 24px;
          text-transform:uppercase;
          line-height: 1.2;
          @media screen and (max-width: 610px) {
            font-size: 16px;
          }
        }
    }

    &:hover .thumb-overlay {
      top: 0%;
      @include transform(rotateX(0deg));
      opacity: 1;
    }
  }
}

.projects-container {
  max-width: 600px;
  margin: 0px auto;
  margin-top: -80px;
  display: none;
  h4 {
    color:$happy-yellow;
    font-weight:300;
    font-size: 24px;
    text-transform:uppercase;
    line-height: 1.2;
  }
  img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .icon-return {
    @include size(40px);
    path { fill: transparentize($happy-yellow, 0.3); }
    cursor:pointer;
    @include position(relative, 64px 80px null null);

    &:hover {
      path { fill: $happy-yellow; }
    }
  }
}

@media (max-width: 740px) {
  .projects-container {
    h4 {
      margin-left: 64px;
    }
    .icon-return {
      left:0px;
    }
  }
}
